@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

.background-gradient {
  @apply bg-gradient-to-b from-[#58aafc] via-[#368fde] to-[#1e64ac];
}

.background-gradient-navbarTop {
  background: linear-gradient(to right, #bae6fd, #22d3ee);
}

.backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.152);
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}


